# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.egg-info/
.installed.cfg
*.egg
*.whl

# IDE / Editor specific
.vscode/
.idea/
*.swp
*.swo

# Other
.DS_Store
*.log
*.ipynb_checkpoints
